@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width:90rem;
    padding:1.5rem;
    margin:0 auto;
}

@layer components{
    .header__nav.open{
        @apply right-[0rem] transition-all
    }
    .header__nav li{
        @apply p-[2rem]
    }
    .header__nav__buttons a{
        @apply p-[2rem]
    }
}